.key-cities-container {
  display: flex;
  justify-content: space-evenly;

  .city-card {
    background-color: #7e969f;
    text-align: center;
  }
}

.card {
  flex-grow: 1;
}

.weather-icon {
  background-color: rgba(176, 193, 209, 0.8);
  backdrop-filter: blur(8px);
  padding-top: 10px;
  padding-bottom: 10px;
}
