.weather-summary {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.three-hour-forecast,
.five-day-forecast {
  text-align: center;
}

.three-hour-forecast {
  background-color: #219ebc;
}

.five-day-forecast {
  background-color: #264653;
}

.weather-header {
  text-align: left;
  font-style: italic;
}
